body {
  font-family: Arial, sans-serif;
  background-color: #2e2e2e;
  color: #ecf0f1;
  text-align: center;
  overflow: hidden;
}

h2 {
  color: #9b59b6;
}

select {
  background-color: #1e1e1e;
  color: #ecf0f1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}
button {
  background-color: #1e1e1e;
  color: #ecf0f1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}
button:hover {
  background-color: #555555;
}
.section-header {
  border-radius: 5px;
  cursor: pointer;
  background-color: #1e1e1e;
  padding: 10px;
  margin-top: 5px;
}

.section-header:hover {
  background-color: #555555;
}

.section-content {
  display: none;
  padding: 10px;
  background-color: #1e1e1e;
}

.section-content p {
  margin: 0;
}

.section-content h3,
.section-content h4,
.section-content h5 {
  color: #1e1e1e;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  max-width: 20%;
  margin-top: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image-container {
  margin-top: 20px;
}

.image-container img {
  display: block;
  max-width: 30%;
  height: auto;
}

p {
  flex: 1;
}

.image-in-paragraph {
  height: 1vh;
  width: 1vh;
  vertical-align: middle;
}
.iframe-container {
  display: none;
}
.container2 {
  max-width: 40%;
  margin: 0 auto; /* Centers horizontally with the max-width */
  margin-bottom: 20px;
  margin-top: 50px;
  padding: 0;
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically if there's a height */
}

.img2 {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  height: auto;
  width: 380px;
}
input {
  background-color: #1e1e1e;
  color: #ecf0f1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}
::placeholder {
  color: white;
  opacity: 1;
}

.sections-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  flex: 0 0 auto;
  margin: 10px;
  width: 300px;
}
::placeholder {
  color: white;
  opacity: 1;
}

.fullscreen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fullscreen {
  flex: 0 0 auto;
  margin: 15px;
  width: 100%;
}
.back {
  display: inline-block;
  border-radius: 4px;
  background-color: #3d405b;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 15px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;
}
.card {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  font-size: 14px;
}
.card img {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}
.info {
  flex: 1;
}
.player-info {
  text-align: center;
  font-size: 17px;
  margin-bottom: 10px;
  line-height: 1.4;
}
.player-info div:nth-child(1) {
  color: #ffffff;
}
.points {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}
.points span {
  font-size: 18px;
  color: #aaaaaa;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
}
.buttons button {
  background-color: #2e2e2e;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.buttons button:hover {
  background-color: #555555;
}
.buttons .less {
  width: 49%;
  font-size: 16px;
}
.buttons .right {
  background-color: #9b59b6;
  width: 49%;
  font-size: 16px;
}
.buttons .more {
  width: 49%;
  font-size: 16px;
}

#logos img {
  display: center;
  height: 80px;
  width: auto;
}
.sectionimg {
  width: 100px;
  height: 100px;
}
.form-container {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  padding: 20px;
}
.close-btn {
  position: absolute;
  top: -2px;
  right: 23px;
  background: none;
  border: none;
  color: #fff;
  font-size: 2.3rem;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
  background: #606c88;
  background: -webkit-linear-gradient(to left, #2e2e2e, rgb(99 102 241));
  background: linear-gradient(to left, #1e1e1e, #1e1e1e);
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
}

.title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #fff;
}

.description {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  color: rgb(209 213 219);
}

.form div {
  display: flex;
  max-width: 28rem;

  column-gap: 0.5rem;
}

.form div input {
  outline: none;
  line-height: 1.5rem;
  font-size: 0.875rem;
  color: rgb(255 255 255);
  padding: 0.5rem 0.875rem;
  background-color: rgb(255 255 255 / 0.05);
  border: 1px solid rgba(253, 253, 253, 0.363);
  border-radius: 0.375rem;
  flex: 1 1 auto;
}

.form div input::placeholder {
  color: rgb(216, 212, 212);
}

.form div input:focus {
  border: 1px solid rgb(99 102 241);
}

.form div button {
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: rgb(99 102 241);
  border-radius: 0.375rem;
  border: none;
  outline: none;
}
