button {
  cursor: pointer;
}
body {
  font-family: Arial, sans-serif;
  background-color: rgb(5, 6, 19);
  color: #ecf0f1;
  text-align: center;
  transition: background-color 1s ease;
  transition: transform 0.3s ease;
}
@font-face {
  font-family: "YourFontName"; /*a name to be used later*/
  src: url("republiko.regular.otf"); /*URL to font*/
}

select {
  background-color: rgba(18, 19, 32, 1);
  color: #ecf0f1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}
button {
  background-color: rgba(18, 19, 32, 1);
  color: #ecf0f1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: color 1s;
  transition: background-color 1s ease;
}
button:hover {
  background-color: #555555;
}
.section-header {
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(18, 19, 32, 1);
  padding: 10px;
  margin-top: 5px;
}

.section-header:hover {
  background-color: #555555;
}

.section-content {
  display: none;
  padding: 10px;
  background-color: rgba(18, 19, 32, 1);
}

.section-content p {
  margin: 0;
}

.section-content h3,
.section-content h4,
.section-content h5 {
  color: rgba(18, 19, 32, 1);
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  transition: background-color 1s ease;
}

.container {
  max-width: 20%;
  margin-top: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image-container {
  margin-top: 20px;
}

.image-container img {
  display: block;
  max-width: 30%;
  height: auto;
}

p {
  flex: 1;
}

.image-in-paragraph {
  height: 1vh;
  width: 1vh;
  vertical-align: middle;
}
.iframe-container {
  display: none;
}
.container2 {
  max-width: 40%;
  margin-top: 30px;

  margin: 0;
  padding: 0;
  justify-content: center;
}

.img2 {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  height: auto;
  width: 380px;
}
input {
  background-color: rgba(18, 19, 32, 1);
  color: #ecf0f1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}
::placeholder {
  color: white;
  opacity: 1;
}

.sections-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  flex: 0 0 auto;
  margin: 10px;
  width: 300px;
}
::placeholder {
  color: white;
  opacity: 1;
}

.fullscreen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fullscreen {
  flex: 0 0 auto;
  margin: 15px;
  width: 100%;
}
.back {
  display: inline-block;
  border-radius: 4px;
  background-color: #3d405b;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 15px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 85%;
  margin-right: 7.5%;
  margin-left: 7.5%;
}
.card {
  background-color: rgba(18, 19, 32, 1);
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  font-size: 20px;
  border: solid;
  border-color: rgba(18, 19, 32, 1);
}
.card img {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}
.info {
  flex: 1;
}
.player-info {
  text-align: center;
  font-size: 17px;
  margin-bottom: 10px;
  line-height: 1.4;
}
.player-info div:nth-child(1) {
  color: #ffffff;
}
.points {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}
.points span {
  font-size: 18px;
  color: #aaaaaa;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
}
.buttons button {
  background-color: #2e2e2e;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.buttons button:hover {
  background-color: #555555;
}
.buttons .less {
  width: 49%;
  font-size: 16px;
}
.buttons .right {
  background-color: rgb(99 102 241);
  width: 49%;
  font-size: 16px;
}
.buttons .more {
  width: 49%;
  font-size: 16px;
}

.tree img {
  display: center;
  height: 60px;
  width: auto;
}
.sectionimg {
  width: 100px;
  height: 100px;
}
.form-container {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  padding: 20px;
}
.close-btn {
  position: absolute;
  top: -2px;
  right: 23px;
  background: none;
  border: none;
  color: #fff;
  font-size: 2.3rem;
  cursor: pointer;
}
.close-btn2 {
  position: absolute;
  top: 10%;
  right: 25%;
  background: none;
  border: none;
  color: #fff;
  font-size: 2.3rem;
  cursor: pointer;
}
.close-btn3 {
  position: absolute;
  top: 20%;
  right: 25%;
  background: none;
  border: none;
  color: #fff;
  font-size: 2.3rem;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
  background: #606c88;
  background: -webkit-linear-gradient(to left, rgb(5, 6, 19), rgb(99 102 241));
  background: linear-gradient(
    to left,
    rgba(18, 19, 32, 1),
    rgba(18, 19, 32, 1)
  );
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
}

.title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #fff;
}

.description {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  color: rgb(209 213 219);
}

.form div {
  display: flex;
  max-width: 28rem;

  column-gap: 0.5rem;
}

.form div input {
  outline: none;
  line-height: 1.5rem;
  font-size: 0.875rem;
  color: rgb(255 255 255);
  padding: 0.5rem 0.875rem;
  background-color: rgb(255 255 255 / 0.05);
  border: 1px solid rgba(253, 253, 253, 0.363);
  border-radius: 0.375rem;
  flex: 1 1 auto;
}

.form div input::placeholder {
  color: rgb(216, 212, 212);
}

.form div input:focus {
  border: 1px solid rgb(99 102 241);
}

.form div button {
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: rgb(99 102 241);
  border-radius: 0.375rem;
  border: none;
  outline: none;
}
.form div button:hover {
  background-color: #555555;
}

/* Styles for the overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top */
}

.overlay-content {
  background-color: rgb(5, 6, 19);
  text-align: center;
  border-radius: 25px;
  border: 2px solid rgb(99 102 241);
  padding: 20px;
  width: 40%;
  margin: 0 auto; /* Center horizontally */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  height: 65%;
  color: white;
}
.overlay-content2 {
  background-color: rgb(5, 6, 19);
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid rgb(99 102 241);
  padding: 20px;
  width: 40%;
  margin: 0 auto; /* Center horizontally */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  height: 35%;
  color: white;
}
.mainbutton,
.logos {
  margin: 10px 0;
  margin-top: 10px;
}
.logos img {
  vertical-align: middle;
  margin-right: 8px;
}
.logos a {
  vertical-align: middle;
  margin-right: 8px;
}

.google-sign-in {
  background-color: rgba(18, 19, 32, 1);
  color: #ecf0f1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 40%;
}

.but2:hover {
  background-color: #555555;
}

.idk {
  background-color: rgba(18, 19, 32, 1);
  color: #ecf0f1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 70%;
  margin: 10px;
}

.google img {
  width: 25px;
  margin-right: 10px;
}

.google {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.liamodds {
  width: 100%;
}
.mainbutton {
  color: #ecf0f1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 40%;
  display: block;
  background: rgb(99 102 241);
  width: 100%;
  margin-bottom: 5px;
}

.mainbutton:hover {
  background-color: #555555;
}

.idk:hover {
  background-color: #555555;
  color: white;
}
.in {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 115px;
  width: 80px;
  height: 40px;
  font-size: 15px;
  background-color: rgb(99 102 241);
  font-family: YourFontName;
}
.up {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 25px;
  width: 80px;
  height: 40px;
  font-size: 14px;
  background-color: rgb(99 102 241);
  font-family: YourFontName;
}
.up :hover {
  background-color: #555555;
}
.info2 {
  display: none;
  font-family: Arial, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  font-size: 15px;
  background-color: #1c1c1c;
  margin-right: 115px;
}
.out {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: rgb(99, 102, 241);
  font-family: YourFontName;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}
.out:hover {
  transform: scale(1.05);
}
.account {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  margin-top: 85px;
  width: 90px;
  height: 30px;
  font-size: 13px;
  background-color: rgb(99, 102, 241);
  font-family: YourFontName;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  padding-top: 8px;
}
.account2 {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  margin-top: 120px;
  width: 90px;
  height: 30px;
  font-size: 13px;
  background-color: rgb(99, 102, 241);
  font-family: YourFontName;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  padding-top: 8px;
}
.subb {
  width: 70%;
  height: 300px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(18, 19, 32, 1);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.sublogo {
  width: 40%;
  padding-top: 20px;
}
.subtextdiv {
  width: 60%;
  margin-top: 20px;
}
.subtext {
  font-size: 18px;
  line-height: 1.5;
}
.subbutton {
  width: 70%;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: rgb(99 102 241);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.shadow__btn {
  margin: 20px;
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #ffff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  cursor: pointer;
}

.shadow__btn {
  background: rgb(99 102 241);
  box-shadow: 0 0 25px rgb(99 102 241);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}
.shadow__btn span {
  display: inline-flex;
  align-items: center;
  gap: 8px; /* Space between image and text */
}

.shadow__btn img {
  width: 20px; /* Adjust size to match the button's style */
  height: 20px;
}
.goblinlogo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: auto;
}

/* From Uiverse.io by G4b413l */
.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5d3fd3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}
