body {
  font-family: Arial, sans-serif;
  background-color: #2e2e2e;
  color: #ecf0f1;
  text-align: center;
  margin: 0;
  padding: 0;
}

button {
  background-color: #1e1e1e;
  color: #ecf0f1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 40%;
}

button:hover {
  background-color: #555555;
}

input {
  background-color: #1e1e1e;
  color: #ecf0f1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 70%;
}

.main {
  border-radius: 25px;
  border: 2px solid rgb(99 102 241);
  padding: 20px;
  width: 40%;
  margin: 0 auto; /* Center horizontally */
  margin-top: 20vh;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  height: 60vh; /* Full viewport height */
}

.logos img {
  width: 25px;
  margin-right: 10px;
}

.logos {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.liamodds {
  width: 100%;
}
.mainbutton {
  color: #ecf0f1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 40%;
  display: block;
  background: rgb(99 102 241);
  width: 100%;
  margin-bottom: 5px;
}

.mainbutton:hover {
  background-color: #555555;
}

input:hover {
  background-color: #555555;
  color: white;
}
